
<%- partial ('partials/statusmessage.ejs') %>

<h2>Update Juice</h2>

  <table class="table table-striped table-bordered" style="text-align:center">
  <tr>
    <th style="text-align:center">ID</th>
    <th style="text-align:center">Type</th>
    <th style="text-align:center">Brand</th>
    <th style="text-align:center">Volume #</th>
    <th style="text-align:center">Units</th>
    <th style="text-align:center">Cost</th>
    <th style="text-align:center">Expiration Date</th>
    <th style="text-align:center">Customer Service #</th>
  </tr>
  <% if(typeof juices != "undefined" && juices.length > 0){ %>
    <% juices.forEach(function(juice){ %>
      <tr>
        <td><%= juice.id %></td>
        <td><%= juice.type %></td>
        <td><%= juice.brand %></td>
        <td><%= juice.volumeNumber %></td>
        <td><%= juice.volumeUnits %></td>
        <td><%= juice.cost %></td>
        <td><%= juice.expirationDate %></td>
        <td><%= juice.customerServiceNumber %></td>
      </tr>
    <% }) %>
  <% }else{ %>
      <tr>
        <td colspan="8">0 records found</td>
      </tr>
  <% } %>
</table>
<form action="/update" method="POST" class="form-horizontal">
  <select id="id" name="id">
    <option selected="selected" style="display:none">Select a juice to update from an ID number in the table above</option>
    <% if(typeof juices != "undefined" && juices.length > 0){ %>
      <% juices.forEach(function(juice){ %>
        <option><%= juice.id %></option>
      <% }) %>
    <% }else{ %>
      <option>0 records found</option>
    <% } %>
  </select>
  <br/><br/><br/>
  <div class="form-group">
    <label for="type" class="col-sm-2 control-label">Juice Type</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="type" name="type" placeholder="ex: Orange">
    </div>
  </div>
  <div class="form-group">
    <label for="brand" class="col-sm-2 control-label">Brand</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="brand" name="brand"  placeholder="ex: Tropicana">
    </div>
  </div>
  <div class="form-group">
    <label for="volumeNumber" class="col-sm-2 control-label">Volume #</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="volumeNumber" name="volumeNumber" placeholder="ex: 16">
    </div>
  </div>
  <div class="form-group">
    <label for="volumeUnits" class="col-sm-2 control-label">Volume Units</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="volumeUnits" name="volumeUnits" placeholder="ex: Ounces">
    </div>
  </div>
  <div class="form-group">
    <label for="cost" class="col-sm-2 control-label">Cost</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="cost" name="cost" placeholder="$.¢¢">
    </div>
  </div>
  <div class="form-group">
    <label for="expirationDate" class="col-sm-2 control-label">Expiration Date</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="expirationDate" name="expirationDate" placeholder="MM/DD/YYYY">
    </div>
  </div>
  <div class="form-group">
    <label for="customerServiceNumber" class="col-sm-2 control-label">Customer Service #</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="customerServiceNumber" name="customerServiceNumber" placeholder="###-###-####">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Add Juice</button>
    </div>
  </div>
</form>